In [1]:
import numpy as np
import pandas as pd

C:\Users\Jay\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [4]:
data_rxn = pd.read_csv("Reactions.csv",delimiter=',')
data_rxn

,Unnamed: 0,Content ID,User ID,Type,Datetime
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,2021-04-22 15:17:15
1,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50
2,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17 12:22:51
3,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18 05:13:58
4,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01
...,...,...,...,...,...
25548,25548,75d6b589-7fae-4a6d-b0d0-752845150e56,80c9ce48-46f9-4f5e-b3ca-3b698fc2e949,dislike,2020-06-27 09:46:48
25549,25549,75d6b589-7fae-4a6d-b0d0-752845150e56,2bd9c167-e06c-47c1-a978-3403d6724606,intrigued,2021-02-16 17:17:02
25550,25550,75d6b589-7fae-4a6d-b0d0-752845150e56,NaN,interested,2020-09-12 03:54:58
25551,25551,75d6b589-7fae-4a6d-b0d0-752845150e56,5ffd8b51-164e-47e2-885e-8b8c46eb63ed,worried,2020-11-04 20:08:31
25552,25552,75d6b589-7fae-4a6d-b0d0-752845150e56,4edc3d1a-a7d9-4db6-89c3-f784d9954172,cherish,2021-01-04 04:55:11

In [5]:
df_rxn=data_rxn.copy()

In [7]:
df_rxn.columns.values

array(['Unnamed: 0', 'Content ID', 'User ID', 'Type', 'Datetime'],
      dtype=object)

###  Drop First and Date columns

In [9]:
df_rxn=df_rxn.drop(["Datetime","Unnamed: 0"],axis=1)

In [10]:
df_rxn

,Content ID,User ID,Type
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust
...,...,...,...
25548,75d6b589-7fae-4a6d-b0d0-752845150e56,80c9ce48-46f9-4f5e-b3ca-3b698fc2e949,dislike
25549,75d6b589-7fae-4a6d-b0d0-752845150e56,2bd9c167-e06c-47c1-a978-3403d6724606,intrigued
25550,75d6b589-7fae-4a6d-b0d0-752845150e56,NaN,interested
25551,75d6b589-7fae-4a6d-b0d0-752845150e56,5ffd8b51-164e-47e2-885e-8b8c46eb63ed,worried
25552,75d6b589-7fae-4a6d-b0d0-752845150e56,4edc3d1a-a7d9-4db6-89c3-f784d9954172,cherish

In [13]:
df_rxn["User ID"].isna().sum()

3019

In [15]:
df_rxn.shape

(25553, 3)

In [16]:
df_rxn["Type"].isna().sum()

980

In [17]:
df_rxn["Type"].unique()

array([nan, 'disgust', 'dislike', 'scared', 'interested', 'peeking',
       'cherish', 'hate', 'love', 'indifferent', 'super love',
       'intrigued', 'worried', 'like', 'heart', 'want', 'adore'],
      dtype=object)

###  Replace Null with 0 in user_id column

In [31]:
temp = df_rxn.copy()

In [32]:
temp["User ID"].fillna(0,inplace=True)

In [33]:
temp["User ID"].isna().sum()

0

###  Drop rows where reaction type is null

In [34]:
temp["Type"].dropna(inplace=True)

In [37]:
temp.dropna(inplace=True)

In [38]:
temp.shape

(24573, 3)

In [40]:
temp.isna().sum()

Content ID    0
User ID       0
Type          0
dtype: int64

In [41]:
df_rxn_clean = temp

In [53]:
df_rxn_clean

,Content ID,User ID,Type
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust
5,97522e57-d9ab-4bd6-97bf-c24d952602d2,9b6d35f9-5e15-4cd0-a8d7-b1f3340e02c4,interested
...,...,...,...
25548,75d6b589-7fae-4a6d-b0d0-752845150e56,80c9ce48-46f9-4f5e-b3ca-3b698fc2e949,dislike
25549,75d6b589-7fae-4a6d-b0d0-752845150e56,2bd9c167-e06c-47c1-a978-3403d6724606,intrigued
25550,75d6b589-7fae-4a6d-b0d0-752845150e56,0,interested
25551,75d6b589-7fae-4a6d-b0d0-752845150e56,5ffd8b51-164e-47e2-885e-8b8c46eb63ed,worried
25552,75d6b589-7fae-4a6d-b0d0-752845150e56,4edc3d1a-a7d9-4db6-89c3-f784d9954172,cherish

#  Cleaning Content Table

In [45]:
raw_con = pd.read_csv("Content.csv", delimiter =',')
raw_con

,Unnamed: 0,Content ID,User ID,Type,Category,URL
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology,https://socialbuzz.cdn.com/content/storage/356...
4,4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food,https://socialbuzz.cdn.com/content/storage/01a...
...,...,...,...,...,...,...
995,995,b4cef9ef-627b-41d7-a051-5961b0204ebb,5b62e10e-3c19-4d28-a57c-e9bdc3d6758d,video,public speaking,NaN
996,996,7a79f4e4-3b7d-44dc-bdef-bc990740252c,4fe420fa-a193-4408-bd5d-62a020233609,GIF,technology,https://socialbuzz.cdn.com/content/storage/7a7...
997,997,435007a5-6261-4d8b-b0a4-55fdc189754b,35d6a1f3-e358-4d4b-8074-05f3b7f35c2a,audio,veganism,https://socialbuzz.cdn.com/content/storage/435...
998,998,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,b9bcd994-f000-4f6b-87fc-caae08acfaa1,GIF,culture,https://socialbuzz.cdn.com/content/storage/4e4...
999,999,75d6b589-7fae-4a6d-b0d0-752845150e56,b8c653b5-0118-4d7e-9bde-07c2de90f0ff,audio,technology,https://socialbuzz.cdn.com/content/storage/75d...

In [44]:
df_con.isna().sum()

Unnamed: 0      0
Content ID      0
User ID         0
Type            0
Category        0
URL           199
dtype: int64

### Drop 1st, Type and URL column

In [48]:
df_con.columns.values

array(['Unnamed: 0', 'Content ID', 'User ID', 'Type', 'Category', 'URL'],
      dtype=object)

In [50]:
df_con=df_con.drop(["Unnamed: 0", "Type", "URL"],axis=1)

In [51]:
df_con_clean = df_con.copy()
df_con_clean

,Content ID,User ID,Category
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,Studying
1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,healthy eating
2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,healthy eating
3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,technology
4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,food
...,...,...,...
995,b4cef9ef-627b-41d7-a051-5961b0204ebb,5b62e10e-3c19-4d28-a57c-e9bdc3d6758d,public speaking
996,7a79f4e4-3b7d-44dc-bdef-bc990740252c,4fe420fa-a193-4408-bd5d-62a020233609,technology
997,435007a5-6261-4d8b-b0a4-55fdc189754b,35d6a1f3-e358-4d4b-8074-05f3b7f35c2a,veganism
998,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,b9bcd994-f000-4f6b-87fc-caae08acfaa1,culture
999,75d6b589-7fae-4a6d-b0d0-752845150e56,b8c653b5-0118-4d7e-9bde-07c2de90f0ff,technology

#  ReactionType table

In [52]:
data_rxn_type = pd.read_csv("ReactionTypes.csv")
data_rxn_type

    Unnamed: 0         Type Sentiment  Score
0            0        heart  positive     60
1            1         want  positive     70
2            2      disgust  negative      0
3            3         hate  negative      5
4            4   interested  positive     30
5            5  indifferent   neutral     20
6            6         love  positive     65
7            7   super love  positive     75
8            8      cherish  positive     70
9            9        adore  positive     72
10          10         like  positive     50
11          11      dislike  negative     10
12          12    intrigued  positive     45
13          13      peeking   neutral     35
14          14       scared  negative     15
15          15      worried  negative     12

In [54]:
df_rxn_type = data_rxn_type.copy()

### Drop 1st and Sentiment column

In [56]:
df_rxn_type=df_rxn_type.drop(["Unnamed: 0","Sentiment"],axis=1)

In [57]:
df_rxn_type_clean = df_rxn_type.copy()
df_rxn_type_clean

           Type  Score
0         heart     60
1          want     70
2       disgust      0
3          hate      5
4    interested     30
5   indifferent     20
6          love     65
7    super love     75
8       cherish     70
9         adore     72
10         like     50
11      dislike     10
12    intrigued     45
13      peeking     35
14       scared     15
15      worried     12

In [58]:
df_rxn_type_clean.to_csv("rxn_type_clean.csv")
df_rxn_clean.to_csv("rxn_clean.csv")
df_con_clean.to_csv("content_clean.csv")

# Merging the dataframes

In [90]:
# rxn_clean = pd.read_csv("Reactions-clean.csv")
con_clean = pd.read_csv("Content-clean.csv")

In [82]:
rxn_clean.drop(["Unnamed: 0"],axis=1,inplace=True)

In [91]:
con_clean.drop(["Unnamed: 0"],axis=1,inplace=True)

In [92]:
con_clean

                               Content ID   Type         Category
0    97522e57-d9ab-4bd6-97bf-c24d952602d2  photo         Studying
1    9f737e0a-3cdd-4d29-9d24-753f4e3be810  photo   healthy eating
2    230c4e4d-70c3-461d-b42c-ec09396efb3f  photo   healthy eating
3    356fff80-da4d-4785-9f43-bc1261031dc6  photo       technology
4    01ab84dd-6364-4236-abbb-3f237db77180  video             food
..                                    ...    ...              ...
995  b4cef9ef-627b-41d7-a051-5961b0204ebb  video  public speaking
996  7a79f4e4-3b7d-44dc-bdef-bc990740252c    GIF       technology
997  435007a5-6261-4d8b-b0a4-55fdc189754b  audio         veganism
998  4e4c9690-c013-4ee7-9e66-943d8cbd27b7    GIF          culture
999  75d6b589-7fae-4a6d-b0d0-752845150e56  audio       technology

[1000 rows x 3 columns]

In [86]:
rxn_clean

,Unnamed: 0,Content ID,Type,Datetime
0,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,07-11-2020 09:43
1,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,17-06-2021 12:22
2,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,18-04-2021 05:13
3,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,06-01-2021 19:13
4,5,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,23-08-2020 12:25
...,...,...,...,...
24568,25548,75d6b589-7fae-4a6d-b0d0-752845150e56,dislike,27-06-2020 09:46
24569,25549,75d6b589-7fae-4a6d-b0d0-752845150e56,intrigued,16-02-2021 17:17
24570,25550,75d6b589-7fae-4a6d-b0d0-752845150e56,interested,12-09-2020 03:54
24571,25551,75d6b589-7fae-4a6d-b0d0-752845150e56,worried,04-11-2020 20:08
24572,25552,75d6b589-7fae-4a6d-b0d0-752845150e56,cherish,04-01-2021 04:55

In [93]:
df_merge_1 = pd.merge(rxn_clean,con_clean, how='inner', on=['Content ID'])

In [98]:
df_merge_1

,Unnamed: 0,Content ID,Reaction Type,Datetime,Content Type,Category
0,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,07-11-2020 09:43,photo,Studying
1,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,17-06-2021 12:22,photo,Studying
2,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,18-04-2021 05:13,photo,Studying
3,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,06-01-2021 19:13,photo,Studying
4,5,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,23-08-2020 12:25,photo,Studying
...,...,...,...,...,...,...
24568,25548,75d6b589-7fae-4a6d-b0d0-752845150e56,dislike,27-06-2020 09:46,audio,technology
24569,25549,75d6b589-7fae-4a6d-b0d0-752845150e56,intrigued,16-02-2021 17:17,audio,technology
24570,25550,75d6b589-7fae-4a6d-b0d0-752845150e56,interested,12-09-2020 03:54,audio,technology
24571,25551,75d6b589-7fae-4a6d-b0d0-752845150e56,worried,04-11-2020 20:08,audio,technology
24572,25552,75d6b589-7fae-4a6d-b0d0-752845150e56,cherish,04-01-2021 04:55,audio,technology

In [97]:
df_merge_1.columns = ['Unnamed: 0', 'Content ID', 'Reaction Type', 'Datetime', 'Content Type',
       'Category']

In [89]:
df_merge_1.isna().sum()

Unnamed: 0    0
Content ID    0
Type          0
Datetime      0
User ID       0
Category      0
dtype: int64

In [102]:
df_rxn_type_clean

   Reaction Type  Score
0          heart     60
1           want     70
2        disgust      0
3           hate      5
4     interested     30
5    indifferent     20
6           love     65
7     super love     75
8        cherish     70
9          adore     72
10          like     50
11       dislike     10
12     intrigued     45
13       peeking     35
14        scared     15
15       worried     12

In [101]:
df_rxn_type_clean.columns = ['Reaction Type', 'Score']

In [103]:
df_final_merge = pd.merge(df_merge_1,df_rxn_type_clean, how='inner', on=['Reaction Type'])

In [104]:
df_final_merge

,Unnamed: 0,Content ID,Reaction Type,Datetime,Content Type,Category,Score
0,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,07-11-2020 09:43,photo,Studying,0
1,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,06-01-2021 19:13,photo,Studying,0
2,35,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,09-04-2021 02:46,photo,Studying,0
3,52,9f737e0a-3cdd-4d29-9d24-753f4e3be810,disgust,28-03-2021 21:15,photo,healthy eating,0
4,88,230c4e4d-70c3-461d-b42c-ec09396efb3f,disgust,04-08-2020 05:40,photo,healthy eating,0
...,...,...,...,...,...,...,...
24568,25489,435007a5-6261-4d8b-b0a4-55fdc189754b,adore,04-10-2020 22:26,audio,veganism,72
24569,25491,435007a5-6261-4d8b-b0a4-55fdc189754b,adore,18-09-2020 10:50,audio,veganism,72
24570,25512,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,adore,31-10-2020 03:58,GIF,culture,72
24571,25524,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,adore,25-06-2020 15:12,GIF,culture,72
24572,25531,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,adore,17-12-2020 16:32,GIF,culture,72

In [105]:
df_final_merge.to_csv("Cleaned-Dataset.csv")

In [116]:
group_by_contentID=df_final_merge.groupby(['Category'])

In [118]:
group_by_contentID.agg({'Score':sum})

                 Score
Category
Animals           3723
Culture           1627
Education         1395
Fitness           5488
Food              3504
Healthy Eating     272
Public Speaking   1336
Science           4619
Soccer            2631
Studying          1341
Technology         217
Travel            1092
Veganism           644
animals          71242
cooking          64756
culture          64952
dogs             52511
education        56041
fitness          49835
food             63172
healthy eating   69067
public speaking  47928
science          66549
soccer           55152
studying         52928
technology       68521
tennis           50339
travel           63788
veganism         48975